html {
  font-size: 62.5%;
}
body {
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  margin: 0 auto;
  background: white;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    color: white;
  }
}
@media (max-width: 500px) {
  body {
    margin: 0 auto;
    background: orange;
  }
}
h1 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  font-size: 2.8rem;
  color: orange;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  h1 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 2.8rem;
    color: orange;
  }
}
@media (max-width: 500px) {
  h1 {
    margin: 0 auto;
    background: orange;
    font-size: 0.5rem;
  }
}
.homepage-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  border: orange solid 1px;
  padding-left: 70px;
  font-size: 1.5rem;
  padding-bottom: 20px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  .homepage-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    color: orange;
  }
}
@media (max-width: 500px) {
  .homepage-container {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    flex-direction: center;
    width: 100%;
    margin: 0 auto;
    color: white;
  }
}
.logo-image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  width: 15%;
  height: 50px;
  border-radius: 15px;
  border: 1px solid pink;
}
.mission-sttmnt {
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  font-size: 3.5rem;
  width: 20%;
  padding-bottom: 100px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  .mission-sttmnt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    color: orange;
  }
}
@media (max-width: 500px) {
  .mission-sttmnt {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    width: 80%;
    margin: 0 auto;
    color: white;
    font-size: 2rem;
  }
}
h1 .mission-sttmnt .word {
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  h1 .mission-sttmnt .word {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    color: orange;
  }
}
@media (max-width: 500px) {
  h1 .mission-sttmnt .word {
    margin: 0 auto;
    background: orange;
  }
}
body {
  width: 80%;
  margin: 0 auto;
  background: linear-gradient(135deg, white, orange 90%);
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    color: #ff8303;
  }
}
@media (max-width: 500px) {
  body {
    margin: 0 auto;
    background: #ff8303;
  }
}
.image-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
}
.image-div .main-image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  width: 70%;
  height: 400px;
  border-radius: 15px;
  /* Mobile */
  /* Mobile */
}
@media (max-width: 800px) {
  .image-div .main-image {
    width: 100%;
    height: 200px;
    border-radius: 15px;
  }
}
@media (max-width: 500px) {
  .image-div .main-image {
    width: 400px;
    height: 200px;
    border-radius: 15px;
  }
}
.image-div .second-image {
  display: flex;
  flex-wrap: wrap;
  flex-direction: center;
  width: 45%;
  height: 400px;
  border-radius: 15px;
  /* Mobile */
  /* Mobile */
}
@media (max-width: 800px) {
  .image-div .second-image {
    width: 100%;
    height: 200px;
    border-radius: 15px;
  }
}
@media (max-width: 500px) {
  .image-div .second-image {
    width: 400px;
    height: 200px;
    border-radius: 15px;
  }
}
a {
  text-decoration: none;
  color: #ff8303;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    color: #ff8303;
  }
}
@media (max-width: 500px) {
  a {
    margin: 0 auto;
    color: white;
  }
}
.menubar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-items: baseline;
  justify-content: space-evenly;
  justify-content: space-around;
  width: 90%;
  padding-top: 20px;
  margin-bottom: 10px;
  color: #ff8303;
  font-size: 1.8rem;
  /* Tablet */
  /* Mobile */
}
.menubar a:hover {
  color: white;
}
@media (max-width: 800px) {
  .menubar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    justify-content: space-evenly;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 1rem;
    color: #ff8303;
  }
}
@media (max-width: 500px) {
  .menubar {
    width: 100%;
    margin: 0 auto;
    color: white;
    font-size: 1.3rem;
  }
}
.title {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: flex-start;
  margin-right: 10%;
  font-size: 3.9rem;
  color: white;
  margin-bottom: 100px;
  border: 1px solid green;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  .title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    color: #ff8303;
    font-size: 1.8rem;
  }
  .title .menubar a:hover {
    background-color: white;
  }
}
@media (max-width: 500px) {
  .title {
    margin: 0 auto;
    color: white;
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
}
.homepage-paragraph {
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 60%;
  border: 1px solid green;
  padding-right: 35px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  .homepage-paragraph {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    font-size: 1rem;
    color: #ff8303;
    padding-top: 30px;
  }
}
@media (max-width: 500px) {
  .homepage-paragraph {
    margin: 0 auto;
    color: white;
    font-size: 1rem;
    border: 1px solid green;
  }
}
img {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  justify-content: space-around;
  align-items: baseline;
  width: 80%;
  margin-bottom: 70px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  img {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    font-size: 1rem;
    color: #ff8303;
    padding-top: 30px;
  }
}
@media (max-width: 500px) {
  img {
    margin: 0 auto;
    color: white;
    font-size: 0.6rem;
  }
}
footer a {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: 60px;
  background: orange;
  color: white;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 800px) {
  footer a {
    display: flex;
    flex-wrap: wrap;
    flex-direction: center;
    margin: 0 auto;
    font-size: 0.6rem;
    background: white;
    color: white;
    padding-top: 30px;
  }
}
@media (max-width: 500px) {
  footer a {
    margin: 0 auto;
    color: orange;
    background: white;
    font-size: 0.6rem;
  }
}
