
/* DESKTOP VERSION */

.container {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Arvo', serif;
	color: #373a6d;
}

.container .FF {
	width: 175px;
	height: 65px;
	display: block;
 	margin-left: auto;
	margin-right: auto;
	border-radius: 15px;  
}

/* HEADER */

header {
	display: flex;
}

header nav {
  width: 1000px;
  vertical-align: top;
  margin-top: 25px;
  margin-bottom: 25px;
}

header nav a {
  margin: 65px;
  font-size: 16px;
  text-decoration: none;
  color: #373a6d;
}

/* MAIN CONTENT */

.staff-bios .first-bio {
    width: 1000px;
    padding: 15px;
    background-color: #1a3263;
}

.staff-bios .second-bio {
    width: 1000px;
    padding: 15px;
    background-color: #f16821;
}

.staff-bios .third-bio {
    width: 1000px;
    padding: 15px;
    background-color: #fab95b;
}

.staff-bios .bio-intro {
    display: flex;
    justify-content: space-between;
}

h1 {
    font-size: 36px;
    font-family: 'Abril Fatface', cursive;
    color:#e8e2db; 
    padding: 25px;
}

.staff-bios .bio-img {
    width: 100px;
    height: 100px;
    padding: 25px;
}

.staff-bios .bio-text {
    display: flex;
    margin: 15px;
    justify-content: space-between;
    background-color:#e8e2db;
}

.staff-bios .bio-text .name-location {
    width: 200px;
    font-size: 20px;
    padding: 15px;
    text-align: center;
}

.staff-bios .bio-text .bio-list {
    width: 250px;
}

/* FOOTER */

footer {
	margin-top: 25px;
	display: flex;
	color: #373a6d;
	font-family: 'Arvo', serif;
	width: 1000px;
    margin-left: 375px;
}

/* MOBILE VERSION */

@media (max-width: 500px) {
    .container {
	    width: 500px;
    } 

    header nav {
		width: 500px;
		vertical-align: top;
		margin-top: 25px;
	}

	header nav a {
		margin: 15px;
		font-size: 16px;
		text-decoration: none;
		color: #373a6d;
    } 

    .staff-bios .first-bio {
        width: 455px;
    }

    .staff-bios .second-bio {
        width: 455px;
    }
    
    .staff-bios .third-bio {
        width: 455px;
    }

    .staff-bios .bio-text {
        flex-direction: column;
    }

    .staff-bios .bio-text .name-location {
        margin-left: 100px;
        text-align: center;
    }

    .staff-bios .bio-text .bio-list {
        margin-left: 100px;
    }

    footer {
        margin-left: 125px;
    }
}