
.container {
	width: 1000px;
	margin: 0 auto;
	font-family: 'Arvo', serif;
	color: #373a6d;
}

.container .FF {
	width: 210px;
	height: 70px;
}

/* HEADER */

header {
	display: flex;
}

header nav {
  width: 1000px;
  vertical-align: top;
  margin-top: 25px;
}

header nav a {
  margin: 65px;
  font-size: 16px;
  text-decoration: none;
  color: #373a6d;
}

/* MAIN CONTENT */

.main-content .text-content {
	margin-left: 20px;
	margin-right: 20px;
}
.main-content .top-img {
	margin-top: 50px;
	width: 1000px;
	height: 600px;
	margin-bottom: 50px;
}

.main-content .top-content {
	display: flex;
	margin-bottom: 50px;
}

.main-content .main-img {
	width: 500px;
	height: 350px;
	margin-left: 20px;
	margin-right: 20px;
}

.main-content .middle-content {
	display: flex;
	margin-bottom: 50px;
}

button {
	color: white;
	background-color: #6fc2d0;
    width: 120px;
    height: 12%;
    border-radius: 10px;
    text-align: center;
	font-size: 18px;
	font-family: 'Arvo', serif;
}

.main-content .bottom-content {
	display: flex;
	margin-bottom: 50px;
}

.main-content .bottom-content .text-content {
	border: 2px solid;
	border-radius: 25px;
	padding: 10px;
}

span {
	content: "\21C4";
	color: #373a6d;
	font-size: 36px;
	margin-top: 100px;
	margin-left: 25px;
	margin-right: 25px;
}

.main-content .infographic {
	display: flex;
	flex-direction: column;
	width: 600px;
	margin-left: 200px;
	margin-bottom: 50px;
}

.main-content .infographic-img {
	margin-top: 25px;
	width: 600px;
	height: 600px;
	padding-bottom: 25px;
	border-bottom: 2px dashed;
}

/* FOOTER */
footer {
	margin-top: -25px;
	display: flex;
	color: #373a6d;
	font-family: 'Arvo', serif;
	width: 1000px;
	margin-left: 580px;
	margin-bottom: 50px;
}


  







